.printable-table {
    min-height: 700px;
    overflow: hidden;
}

.edit-and-print {
    position: relative;

    .btn-sm:nth-child(1) {
        position: absolute;
        top: 10%;
    }

    .btn-sm:nth-child(2) {
        position: absolute;
        bottom: 10%;
    }
}

@media only screen and (max-width: 768px) {
    .printable-table {
        min-height: 500px !important ;
        overflow: hidden;
    }
}