$info: #00afb9;

.table-show-hide {
    max-height: 550px;
    overflow-y: hidden;
}

.management-tabs {
    .nav-item {
        a.active {
            border: 1px solid $info !important;
            border-bottom: 0px !important;
            color: $info !important;
        }
    }
}

.amount-sale {
    .col-6 {
        border: 1px solid white;
    }

    .col-6:nth-child(5),.col-6:nth-child(4) {
        border: 1px solid white;
        border-right: 1px solid $info;
    }

    .col-6:hover {
        border: 1px solid $info !important;
    }
}



@media only screen and (max-width: 768px) {
    .management-tabs {
        .nav-item {
            a.active {
                border-bottom: 1px solid $info !important;
                border-radius: 7px;
                padding-left: 10px;
            }
        }
    }

    .amount-sale {
        .col-6:nth-child(4),.col-6:nth-child(5) {
            border-right: 1px solid white;
        }
    }

}


.table-show-hide::-webkit-scrollbar {
    // width: 10px;
    height: 2px;
}

/* Track */
.table-show-hide::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.table-show-hide::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.table-show-hide::-webkit-scrollbar-thumb:hover {
    background: #555;
}