$primary:#1a2c47ff;
$info:#00afb9;
@import './scss/bootstrap';
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    // background-color: #e9ecef;
    flex: 1 0 auto;
}
::-webkit-scrollbar{
    background-color: white;
    width: 15px;   
}
::-webkit-scrollbar-thumb{
    background-color:#bcbcbc;
}